<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="utf-8" />
	<title>Prodig</title>
	<meta name="description" content="TODO: FAUDRA METTRE UN PEU DE SEO, OPENGRAPHS, etc :)" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="apple-touch-icon" href="icon.png" />
	<link href="../css/tailwind.css" rel="stylesheet" />
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,400;0,600;1,700&display=swap"
		rel="stylesheet">
	<!-- <link href="https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@400;600;700&display=swap" rel="stylesheet"> -->
</head>

<body class="subpixel-antialiased">

	<!-- NAVBAR -->
	<div
		class="navbar w-screen shadow-md h-20 px-12 hidden lg:flex items-center justify-between fixed top-0 z-50 bg-white">
		<a href="/">
			<img class="h-10" src="./img/logo.svg" alt="Logo Prodig">
		</a>
		<div>
			<ul class="flex items-center">
				<li id="first-menu"
					class="xl:mx-4 mx-2 uppercase font-bold text-base lg:text-lg tracking-wider relative">
					<a class="z-50 relative">Marketing digital</a>
					<div id="first-dropdown"
						class="absolute bg-white px-4 rounded-lg top-4 text-center flex flex-col items-center justify-center z-40"
						style="left: -1.5rem; right: -1.5rem; bottom: 0rem">
						<div id="first-dropdown-shadow" class="absolute w-full rounded-lg shadow-lg top-9 z-0"></div>
						<div id="first-dropdown-text" class="flex flex-col items-center justify-center pt-6 bg-white">
							<a class="text-blue transform transition duration-300 hover:scale-110 ">notre métier</a>
							<hr class="my-2 w-2/3">
							<a class="text-blue transform transition duration-300 hover:scale-110 ">nos prestations</a>
						</div>
					</div>
				</li>
				<svg height="10" width="10">
					<circle cx="5" cy="5" r="2" fill="black" />
				</svg>
				<li id="second-menu"
					class="xl:mx-4 mx-2 uppercase font-bold text-base lg:text-lg tracking-wider relative">
					<a class="z-50 relative">Coaching professionnel</a>
					<div id="second-dropdown"
						class="absolute bg-white px-4 rounded-lg top-4 text-center flex flex-col items-center justify-center z-40"
						style="left: -1.5rem; right: -1.5rem; bottom: 0rem;">
						<div id="second-dropdown-shadow" class="absolute w-full rounded-lg shadow-lg top-9 z-0"></div>
						<div id="second-dropdown-text" class="flex flex-col items-center justify-center pt-6">
							<a class="text-orange transform transition duration-300 hover:scale-110 ">Pros du
								numérique</a>
							<hr class="my-2 w-2/3">
							<a class="text-orange transform transition duration-300 hover:scale-110 ">Nos
								interventions</a>
						</div>
					</div>
				</li>
				<svg height="10" width="10">
					<circle cx="5" cy="5" r="2" fill="black" />
				</svg>
				<li class="xl:mx-4 mx-2 uppercase font-bold text-base lg:text-lg tracking-wider"><a
						class="hover:text-blue">À propos</a></li>
				<svg height="10" width="10">
					<circle cx="5" cy="5" r="2" fill="black" />
				</svg>
				<li class="xl:mx-4 mx-2 uppercase font-bold text-base lg:text-lg tracking-wider"><a
						class="hover:text-blue">Blog</a></li>
				<button
					class="ml-4 text-white font-bold text-base lg:text-lg tracking-wider uppercase bg-blue py-1 px-8 hover:bg-orange transition duration-500 ease-in-out rounded-sm">Contact</button>
			</ul>
		</div>
	</div>

	<!-- NAVBAR MOBILE -->
	<div
		class="navbar w-screen shadow-md flex justify-between items-center px-6 lg:hidden h-16 fixed top-0 z-50 bg-white">
		<img class="h-8" src="./img/logo.svg" alt="Logo Prodig">
		<button class="menu"
			onclick="this.classList.toggle('opened');this.setAttribute('aria-expanded', this.classList.contains('opened')); toggleMenuMobile();"
			aria-label="Main Menu">
			<svg width="50" height="50" viewBox="0 0 100 100">
				<path class="line line1"
					d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
				<path class="line line2" d="M 20,50 H 80" />
				<path class="line line3"
					d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
			</svg>
		</button>
	</div>

	<!-- MENU MOBILE DEPLIANT -->
	<div id="nav-menu-mobile" class="fixed h-full w-2/3 top-0 z-40 bg-white lg:hidden shadow-md" style="left: -67%">
		<ul class="flex flex-col justify-center items-center h-full">
			<li
				class="xl:mx-4 mx-2 my-2 uppercase font-bold text-base md:text-xl tracking-wider flex flex-col items-center">
				<p class="text-xs text-blue mb-2">Marketing digital</p>
				<hr class="w-1/2 mb-2">
				<a class="text-center">Notre métier</a>
				<a class="text-center">Nos prestations</a>
			</li>
			<svg height="10" width="10">
				<circle cx="5" cy="5" r="2" fill="black" />
			</svg>
			<li
				class="xl:mx-4 mx-2 my-2 uppercase font-bold text-base md:text-xl tracking-wider flex flex-col items-center">
				<p class="text-xs text-orange mb-2">Coaching professionnel</p>
				<hr class="w-1/2 mb-2">
				<a class="text-center">Pros du numérique</a>
				<a class="text-center">Nos interventions</a>
			</li>
			<svg height="10" width="10">
				<circle cx="5" cy="5" r="2" fill="black" />
			</svg>
			<li class="xl:mx-4 mx-2 my-2 uppercase font-bold text-base md:text-xl tracking-wider"><a>À propos</a></li>
			<svg height="10" width="10">
				<circle cx="5" cy="5" r="2" fill="black" />
			</svg>
			<li class="xl:mx-4 mx-2 my-2 uppercase font-bold text-base md:text-xl tracking-wider"><a>Blog</a></li>
			<button
				class="mt-8 text-white font-bold text-base lg:text-lg tracking-wider uppercase bg-blue py-1 px-8">Contact</button>
		</ul>
	</div>


	<div class="mt-12 pt-12 pb-12 px-2 lg:px-12" style="background-color: #F4F8FF;">
		<div class="flex flex-col lg:flex-row">
			<div class="flex flex-wrap justify-center w-full mr-8">
				<div class="rounded-2xl shadow-lg w-full mx-4 my-4 bg-white">
					<div class=" w-full bg-blue rounded-t-2xl relative flex justify-center items-center blog-height" >
						<div class="bg-blue blog-height h-full w-full absolute transform opacity-75 rounded-t-2xl"
							style="mix-blend-mode: soft-light;"></div>
						<img class="w-full blog-height h-full object-cover object-center rounded-t-2xl" src="./img/blog-2.jpg">
					</div>
					<div class="py-6 px-4 flex flex-col items-center rounded-b-2xl">
						<h3 class="text-orange text-2xl lg:text-4xl mb-4 font-bold">Gordon Crossings obtient la certification
							Qualiopi</h3>
						<div class="flex text-blue mb-4">
							<p>Par Paul Herlaut
								<span class="text-orange"> | </span>
								9 septembre 2020
								<span class="text-orange"> | </span>
								Temps de lecture: 4 minutes
						</div>
						<div class="mb-4">
							<ul class="flex flex-wrap">
								<li class="bg-blue text-white rounded-2xl py-1 px-2 mx-1 my-1">#Marketing</li>
								<li class="bg-blue text-white rounded-2xl py-1 px-2 mx-1 my-1">#Digital</li>
								<li class="bg-blue text-white rounded-2xl py-1 px-2 mx-1 my-1">#Coaching</li>
							</ul>
						</div>
						<p class="text-left px-2 py-2 lg:px-8 lg:py-8">
							Coaching et thérapie, une différence majeure.<br><br>
							La différence entre un thérapeute et un coach est profonde ! Le coach accompagne une
							personne vers l’atteinte d’un objectif spécifique, qui a été fixé ensemble. Le thérapeute
							est un soignant qui aide une personne en état de souffrance psychologique : cette personne
							est un patient.<br><br>
							La thérapie donne souvent la priorité à la recherche du « pourquoi », alors que le coach se
							focalise sur le « comment ». Le thérapeute aide son patient à fouiller son passé pour mieux
							comprendre son présent ; le coach aide son client à mieux appréhender sa difficulté présente
							et à agir « ici et maintenant » pour y remédier.<br><br>
							Le coaching, discipline relativement jeune, s’appuie sur de nombreux travaux, techniques et
							outils issus des différentes branches de la psychologie. Point de convergence, il partage un
							grand nombre des valeurs éthiques mises en œuvre par les thérapeutes : l’écoute, la
							bienveillance, la confiance, le respect, l’humilité, et un profond engagement dans un
							travail sur soi-même.<br><br>
							Quelle différence entre un coach professionnel et un consultant ?<br><br>
							Un consultant, c’est un spécialiste extérieur à une organisation à qui l'on fait appel afin
							d'obtenir une analyse et une assistance au sujet d'un problème précis. Un consultant fournit
							des prestations pointues sur des sujets de nature organisationnelle ou technique :<br><br>
							planification, gestion, organisation, ressources humaines, etc. Le consultant est recruté
							pour partager son expertise (son “métier”, sa méthodologie, sa connaissance d’un marché)
							avec les équipes de son client. Il délivre en continu des recommandations, des conseils, qui
							sont basés sur son expérience. Il apporte ses compétences personnelles à l’entreprise
							cliente.<br><br>
							Le coach, quant à lui, n’apporte pas de conseils à son client. Il l’aide à trouver ses
							propres solutions et à les mettre en œuvre.
							Selon l’International Coaching Federation, “le coach considère son client comme un
							partenaire. Tous deux déterminent ensemble l’objectif, le cadre, et les résultats attendus
							et le client reste le seul responsable de ses propres objectifs. En ce sens, le client est
							maître du contenu. Le coach est un expert du processus de coaching et reste maître du cadre.
							Son rôle de partenaire requiert qu’il soit dans la position de comprendre les enjeux
							professionnels de son client sans toutefois être l’expert du métier de celui-ci. Le coach
							posera les bonnes questions, le client trouvera ses réponses”.

						</p>
					</div>
				</div>
			</div>
			<div class="flex flex-col w-full lg:w-96">
				<div class="shadow-md py-6 px-4 rounded-2xl my-2 flex flex-col bg-white">
					<button class="text-white font-bold text-lg lg:text-xl tracking-wider uppercase bg-orange text-left pl-3 py-1 mt-1 w-48 lg:w-full hover:bg-blue transition duration-500 ease-in-out">
						Retour
					</button>
				</div>
				<div class="shadow-md py-6 px-4 rounded-2xl my-2 flex flex-col bg-white">
					<input class="border-orange border-2 px-4 py-2 rounded-2xl" type="search" class="search-field"
						placeholder="Recherche…" value="" name="" title="Rechercher:">
				</div>
				<div class="shadow-md py-6 px-4 rounded-2xl my-2 flex flex-col bg-white">
					<p class="font-bold text-2xl text-center">Articles récents:</p>
					<ul class="text-center mt-4">
						<a class="hover:text-orange">
							<li>Affronter ses peurs et gagner sa liberté</li>
						</a>
						<a class="hover:text-orange">
							<li>Affronter ses peurs et gagner sa liberté</li>
						</a>
						<a class="hover:text-orange">
							<li>Affronter ses peurs et gagner sa liberté</li>
						</a>
						<a class="hover:text-orange">
							<li>Affronter ses peurs et gagner sa liberté</li>
						</a>
						<a class="hover:text-orange">
							<li>Affronter ses peurs et gagner sa liberté</li>
						</a>
					</ul>
				</div>
				<div class="shadow-md py-6 px-4 rounded-2xl my-2 flex flex-col bg-white">
					<p class="font-bold text-2xl text-center ">Catégories:</p>
					<ul class="text-center mt-4 text-lg">
						<a class="hover:text-orange">
							<li>Marketing Digital</li>
						</a>
						<a class="hover:text-orange">
							<li>Coaching professionnel</li>
						</a>
						<a class="hover:text-orange">
							<li>Marketing Digital</li>
						</a>
						<a class="hover:text-orange">
							<li>Coaching professionnel</li>
						</a>
						<a class="hover:text-orange">
							<li>Marketing Digital</li>
						</a>
						<a class="hover:text-orange">
							<li>Coaching professionnel</li>
						</a>
					</ul>
				</div>
				<div class="shadow-md py-6 px-4 rounded-2xl my-2 flex flex-col bg-white">
					<div class="flex flex-col">
						<p class="text-2xl text-center font-bold">Newsletter</p>
						<div class="flex items-center mt-4">
							<input type="mail" class="text-xl pl-3 pb-1 border-2 border-orange w-48 lg:w-full "
								placeholder="votre e-mail ici"></input>
						</div>
						<button
							class="text-white font-bold text-lg lg:text-xl tracking-wider uppercase bg-orange text-left pl-3 py-1 mt-1 w-48 lg:w-full hover:bg-blue transition duration-500 ease-in-out">Je
							m'abonne ✉️</button>
					</div>
				</div>
				<div class="shadow-md py-6 px-4 rounded-2xl my-2 flex flex-col bg-white">
					<p class="text-2xl font-bold text-center">Connectons-nous</p>
					<div class="flex justify-start lg:justify-around items-center mt-4">
						<div class="flex flex-col">
							<div class="flex items-center justify-center">
								<img class="h-8" src="./img/linkedin.svg" alt="LinkedIn Franck Pelagatti">
								<p class="text-center font-bold text-xl ml-4">LinkedIn</p>
							</div>
							<div class="flex items-center justify-center mt-2">
								<img class="h-8" src="./img/calendly.svg" alt="LinkedIn Franck Pelagatti">
								<p class="text-center font-bold text-xl ml-4">Calendly</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>




	<!-- FOOTER -->
	<div class="container mx-auto my-24 flex flex-col px-8 lg:px-24 xl:px-48">
		<div class="flex mb-8">
			<a href="/">
				<img class="h-4" src="./img/logoprodig2.svg" alt="Logo Prodig">
			</a>
		</div>
		<div class="flex flex-col lg:flex-row lg:justify-between">
			<div class="flex flex-col mb-8 lg:mb-0">
				<p class="text-2xl font-bold">Contactons-nous</p>
				<div class="flex items-center mt-4">
					<img class="h-6 fill-current text-orange" src="./img/phone.svg" alt="Téléphone">
					<p class="text-xl ml-3 font-bold text-orange">(+33) 09 52 30 51 31</p>
				</div>
				<div class="flex items-center mt-2">
					<img class="h-6" src="./img/mail.svg" alt="E-Mail">
					<p class="text-xl ml-3 font-bold text-orange">bonjour@prodig.fr</p>
				</div>
			</div>
			<div class="flex flex-col mb-8 lg:mb-0">
				<p class="text-2xl font-bold">Connectons-nous</p>
				<div class="flex justify-start lg:justify-around items-center mt-4">
					<div class="flex flex-col">
						<div class="flex items-center justify-center">
							<img class="h-8" src="./img/linkedin.svg" alt="LinkedIn Franck Pelagatti">
							<p class="text-center font-bold text-xl ml-4">LinkedIn</p>
						</div>
						<div class="flex items-center justify-center mt-2">
							<img class="h-8" src="./img/calendly.svg" alt="LinkedIn Franck Pelagatti">
							<p class="text-center font-bold text-xl ml-4">Calendly</p>
						</div>
					</div>
				</div>
			</div>
			<div class="flex flex-col">
				<p class="text-2xl font-bold">Newsletter</p>
				<div class="flex items-center mt-4">
					<input type="mail" class="text-xl pl-3 pb-1 border-2 border-orange w-48 lg:w-full "
						placeholder="votre e-mail ici"></input>
				</div>
				<button
					class="text-white font-bold text-lg lg:text-xl tracking-wider uppercase bg-orange text-left pl-3 py-1 mt-1 w-48 lg:w-full hover:bg-blue transition duration-500 ease-in-out">Je
					m'abonne ✉️</button>
			</div>
		</div>
		<div class="flex flex-col lg:flex-row lg:justify-between mt-16">
			<div class="flex flex-col lg:flex-row">
				<a class="text-orange font-bold uppercase text-lg mr-4">Mentions legales</a>
				-
				<a class="text-orange font-bold uppercase text-lg lg:ml-4">Politiques de protection de vos données</a>
			</div>
			<p class="font-bold text-2xl mt-4 lg:mt-0">PRODIG 2021 ©</p>
		</div>
	</div>

	<script src="./../js/script.js"></script>
	<!-- <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script> -->
	<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-XXXX"></script> -->
	<!-- <script>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())
      gtag('config', 'UA-XXXX')
    </script> -->
</body>

</html>