<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="utf-8" />
	<title>Prodig</title>
	<meta name="description" content="TODO: FAUDRA METTRE UN PEU DE SEO, OPENGRAPHS, etc :)" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="apple-touch-icon" href="icon.png" />
	<link href="../css/tailwind.css" rel="stylesheet" />
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,400;0,600;1,700&display=swap"
		rel="stylesheet">
	<!-- <link href="https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@400;600;700&display=swap" rel="stylesheet"> -->
</head>

<body class="subpixel-antialiased">

	<!-- NAVBAR -->
	<div
		class="navbar w-screen shadow-md h-20 px-12 hidden lg:flex items-center justify-between fixed top-0 z-50 bg-white">
		<a href="/">
			<img class="h-10" src="./img/logo.svg" alt="Logo Prodig">
		</a>
		<div>
			<ul class="flex items-center">
				<li id="first-menu"
					class="xl:mx-4 mx-2 uppercase font-bold text-base lg:text-lg tracking-wider relative">
					<a class="z-50 relative">Marketing digital</a>
					<div id="first-dropdown"
						class="absolute bg-white px-4 rounded-lg top-4 text-center flex flex-col items-center justify-center z-40"
						style="left: -1.5rem; right: -1.5rem; bottom: 0rem">
						<div id="first-dropdown-shadow" class="absolute w-full rounded-lg shadow-lg top-9 z-0"></div>
						<div id="first-dropdown-text" class="flex flex-col items-center justify-center pt-6 bg-white">
							<a class="text-blue transform transition duration-300 hover:scale-110 ">notre métier</a>
							<hr class="my-2 w-2/3">
							<a class="text-blue transform transition duration-300 hover:scale-110 ">nos prestations</a>
						</div>
					</div>
				</li>
				<svg height="10" width="10">
					<circle cx="5" cy="5" r="2" fill="black" />
				</svg>
				<li id="second-menu"
					class="xl:mx-4 mx-2 uppercase font-bold text-base lg:text-lg tracking-wider relative">
					<a class="z-50 relative">Coaching professionnel</a>
					<div id="second-dropdown"
						class="absolute bg-white px-4 rounded-lg top-4 text-center flex flex-col items-center justify-center z-40"
						style="left: -1.5rem; right: -1.5rem; bottom: 0rem;">
						<div id="second-dropdown-shadow" class="absolute w-full rounded-lg shadow-lg top-9 z-0"></div>
						<div id="second-dropdown-text" class="flex flex-col items-center justify-center pt-6">
							<a class="text-orange transform transition duration-300 hover:scale-110 ">Pros du
								numérique</a>
							<hr class="my-2 w-2/3">
							<a class="text-orange transform transition duration-300 hover:scale-110 ">Nos
								interventions</a>
						</div>
					</div>
				</li>
				<svg height="10" width="10">
					<circle cx="5" cy="5" r="2" fill="black" />
				</svg>
				<li class="xl:mx-4 mx-2 uppercase font-bold text-base lg:text-lg tracking-wider"><a
						class="hover:text-blue">À propos</a></li>
				<svg height="10" width="10">
					<circle cx="5" cy="5" r="2" fill="black" />
				</svg>
				<li class="xl:mx-4 mx-2 uppercase font-bold text-base lg:text-lg tracking-wider"><a
						class="hover:text-blue">Blog</a></li>
				<button
					class="ml-4 text-white font-bold text-base lg:text-lg tracking-wider uppercase bg-blue py-1 px-8 hover:bg-orange transition duration-500 ease-in-out rounded-sm">Contact</button>
			</ul>
		</div>
	</div>

	<!-- NAVBAR MOBILE -->
	<div
		class="navbar w-screen shadow-md flex justify-between items-center px-6 lg:hidden h-16 fixed top-0 z-50 bg-white">
		<img class="h-8" src="./img/logo.svg" alt="Logo Prodig">
		<button class="menu"
			onclick="this.classList.toggle('opened');this.setAttribute('aria-expanded', this.classList.contains('opened')); toggleMenuMobile();"
			aria-label="Main Menu">
			<svg width="50" height="50" viewBox="0 0 100 100">
				<path class="line line1"
					d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
				<path class="line line2" d="M 20,50 H 80" />
				<path class="line line3"
					d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
			</svg>
		</button>
	</div>

	<!-- MENU MOBILE DEPLIANT -->
	<div id="nav-menu-mobile" class="fixed h-full w-2/3 top-0 z-40 bg-white lg:hidden shadow-md" style="left: -67%">
		<ul class="flex flex-col justify-center items-center h-full">
			<li
				class="xl:mx-4 mx-2 my-2 uppercase font-bold text-base md:text-xl tracking-wider flex flex-col items-center">
				<p class="text-xs text-blue mb-2">Marketing digital</p>
				<hr class="w-1/2 mb-2">
				<a class="text-center">Notre métier</a>
				<a class="text-center">Nos prestations</a>
			</li>
			<svg height="10" width="10">
				<circle cx="5" cy="5" r="2" fill="black" />
			</svg>
			<li
				class="xl:mx-4 mx-2 my-2 uppercase font-bold text-base md:text-xl tracking-wider flex flex-col items-center">
				<p class="text-xs text-orange mb-2">Coaching professionnel</p>
				<hr class="w-1/2 mb-2">
				<a class="text-center">Pros du numérique</a>
				<a class="text-center">Nos interventions</a>
			</li>
			<svg height="10" width="10">
				<circle cx="5" cy="5" r="2" fill="black" />
			</svg>
			<li class="xl:mx-4 mx-2 my-2 uppercase font-bold text-base md:text-xl tracking-wider"><a>À propos</a></li>
			<svg height="10" width="10">
				<circle cx="5" cy="5" r="2" fill="black" />
			</svg>
			<li class="xl:mx-4 mx-2 my-2 uppercase font-bold text-base md:text-xl tracking-wider"><a>Blog</a></li>
			<button
				class="mt-8 text-white font-bold text-base lg:text-lg tracking-wider uppercase bg-blue py-1 px-8">Contact</button>
		</ul>
	</div>

	<!-- HEADER NOS METIERS -->

	<div class="relative pt-16 lg:pt-20">
		<div class="w-screen flex flex-col lg:flex-row">
			<div style="background-image: url(img/marketing-digital.png); background-size: cover; background-repeat: no-repeat; background-position: center;"
				class="h-48 lg:h-96 w-screen flex justify-center items-center flex-col">
				<h1 class="font-bold text-xl lg:text-4xl text-center lg:leading-normal">Conseil en marketing digital
				</h1>
				<svg height="5" width="100" class="mx-auto mt-4">
					<line x1="0" y1="0" x2="100" y2="0" style="stroke:#4E6AFA;stroke-width:10" />
				</svg>
				<h3 class="font-bold text-xl lg:text-4xl text-center lg:leading-normal mt-4 uppercase text-blue">Nos
					prestations</h3>
			</div>
		</div>
	</div>

	<div class="container mx-auto xl:px-24 2xl:px-48 my-12 px-8 lg:px-0">
		<div class="flex flex-col justify-center items-center">
			<h3 class="font-bold text-lg lg:text-2xl text-center lg:leading-normal mt-8 lg:mt-8">
				Nos prestations de service 
			</h3>
			<svg height="3" width="100" class="mx-auto mt-4">
				<line x1="0" y1="0" x2="100" y2="0" style="stroke:#4E6AFA;stroke-width:10" />
			</svg>
			<p class="text-center mt-8 font-bold text-blue text-lg lg:text-xl">Le digital représente un environnement fragmenté, concurrentiel, très évolutif.</p>
			<p class="mt-8 text-center px-18 lg:px-36 text-md lg:text-lg">Le rôle du conseil en marketing digital est de vous aider à prendre les bonnes décisions en matière d’investissement digital, de vous accompagner dans la mise en œuvre de ces projets, d’assurer la cohérence et l’efficacité du dispositif.</p>
		</div>
	</div>

	<div class="flex justify-center py-8 my-4">
		<div class="w-full lg:w-3/4 xl:w-2/3 2xl:w-3/4 px-2 lg:px-0 flex justify-around items-center flex-wrap">

			<div class="h-96 w-72 rounded-2xl bg-white shadow-md flex flex-col mb-8 transform ease-in-out duration-300 hover:scale-105">
				<div class="h-36 w-full bg-blue rounded-t-2xl relative flex justify-center items-center">
					<div class="bg-blue h-36 w-full absolute transform opacity-75 rounded-t-2xl" style="mix-blend-mode: multiply;"></div>
					<img class="w-full h-36 object-cover object-center shadow-md rounded-t-2xl" src="./img/audit-digital.png" alt="Franck Pelagatti">
					<h3 class="text-white font-bold text-2xl absolute">Audit Digital</h3>
				</div>
				<div class="h-full px-4 py-4 flex flex-col justify-center items-center">
					<p class="font-bold">Enjeu: <span class="text-blue">comprendre, faire le point.</span></p>
					<p class="mt-4 text-center text-sm">Faire le point pour bien cerner vos points forts et vos points faibles sur le web.</p>
					<p class="mt-4 text-center text-sm">Analyse de la qualité et de la performance de vos actifs digitaux (site, réseaux sociaux, etc.), comparaison avec vos concurrents.</p>
					<a class="mt-4 text-center text-orange font-bold">En savoir plus</a>
				</div>
			</div>
			<div class="h-96 w-72 rounded-2xl bg-white shadow-md flex flex-col mb-8 transform ease-in-out duration-300 hover:scale-105">
				<div class="h-36 w-full bg-blue rounded-t-2xl relative flex justify-center items-center">
					<div class="bg-blue h-36 w-full absolute transform opacity-75 rounded-t-2xl" style="mix-blend-mode: multiply;"></div>
					<img class="w-full h-36 object-cover object-center shadow-md rounded-t-2xl" src="./img/audit-digital.png" alt="Franck Pelagatti">
					<h3 class="text-white font-bold text-2xl absolute">Audit Digital</h3>
				</div>
				<div class="h-full px-4 py-4 flex flex-col justify-center items-center">
					<p class="font-bold">Enjeu: <span class="text-blue">comprendre, faire le point.</span></p>
					<p class="mt-4 text-center text-sm">Faire le point pour bien cerner vos points forts et vos points faibles sur le web.</p>
					<p class="mt-4 text-center text-sm">Analyse de la qualité et de la performance de vos actifs digitaux (site, réseaux sociaux, etc.), comparaison avec vos concurrents.</p>
					<a class="mt-4 text-center text-orange font-bold">En savoir plus</a>
				</div>
			</div>
			<div class="h-96 w-72 rounded-2xl bg-white shadow-md flex flex-col mb-8 transform ease-in-out duration-300 hover:scale-105">
				<div class="h-36 w-full bg-blue rounded-t-2xl relative flex justify-center items-center">
					<div class="bg-blue h-36 w-full absolute transform opacity-75 rounded-t-2xl" style="mix-blend-mode: multiply;"></div>
					<img class="w-full h-36 object-cover object-center shadow-md rounded-t-2xl" src="./img/audit-digital.png" alt="Franck Pelagatti">
					<h3 class="text-white font-bold text-2xl absolute">Audit Digital</h3>
				</div>
				<div class="h-full px-4 py-4 flex flex-col justify-center items-center">
					<p class="font-bold">Enjeu: <span class="text-blue">comprendre, faire le point.</span></p>
					<p class="mt-4 text-center text-sm">Faire le point pour bien cerner vos points forts et vos points faibles sur le web.</p>
					<p class="mt-4 text-center text-sm">Analyse de la qualité et de la performance de vos actifs digitaux (site, réseaux sociaux, etc.), comparaison avec vos concurrents.</p>
					<a class="mt-4 text-center text-orange font-bold">En savoir plus</a>
				</div>
			</div>
			<div class="h-96 w-72 rounded-2xl bg-white shadow-md flex flex-col mb-8 transform ease-in-out duration-300 hover:scale-105">
				<div class="h-36 w-full bg-blue rounded-t-2xl relative flex justify-center items-center">
					<div class="bg-blue h-36 w-full absolute transform opacity-75 rounded-t-2xl" style="mix-blend-mode: multiply;"></div>
					<img class="w-full h-36 object-cover object-center shadow-md rounded-t-2xl" src="./img/audit-digital.png" alt="Franck Pelagatti">
					<h3 class="text-white font-bold text-2xl absolute">Audit Digital</h3>
				</div>
				<div class="h-full px-4 py-4 flex flex-col justify-center items-center">
					<p class="font-bold">Enjeu: <span class="text-blue">comprendre, faire le point.</span></p>
					<p class="mt-4 text-center text-sm">Faire le point pour bien cerner vos points forts et vos points faibles sur le web.</p>
					<p class="mt-4 text-center text-sm">Analyse de la qualité et de la performance de vos actifs digitaux (site, réseaux sociaux, etc.), comparaison avec vos concurrents.</p>
					<a class="mt-4 text-center text-orange font-bold">En savoir plus</a>
				</div>
			</div>
			<div class="h-96 w-72 rounded-2xl bg-white shadow-md flex flex-col mb-8 transform ease-in-out duration-300 hover:scale-105">
				<div class="h-36 w-full bg-blue rounded-t-2xl relative flex justify-center items-center">
					<div class="bg-blue h-36 w-full absolute transform opacity-75 rounded-t-2xl" style="mix-blend-mode: multiply;"></div>
					<img class="w-full h-36 object-cover object-center shadow-md rounded-t-2xl" src="./img/audit-digital.png" alt="Franck Pelagatti">
					<h3 class="text-white font-bold text-2xl absolute">Audit Digital</h3>
				</div>
				<div class="h-full px-4 py-4 flex flex-col justify-center items-center">
					<p class="font-bold">Enjeu: <span class="text-blue">comprendre, faire le point.</span></p>
					<p class="mt-4 text-center text-sm">Faire le point pour bien cerner vos points forts et vos points faibles sur le web.</p>
					<p class="mt-4 text-center text-sm">Analyse de la qualité et de la performance de vos actifs digitaux (site, réseaux sociaux, etc.), comparaison avec vos concurrents.</p>
					<a class="mt-4 text-center text-orange font-bold">En savoir plus</a>
				</div>
			</div>
			<div class="h-96 w-72 rounded-2xl bg-white shadow-md flex flex-col mb-8 transform ease-in-out duration-300 hover:scale-105">
				<div class="h-36 w-full bg-blue rounded-t-2xl relative flex justify-center items-center">
					<div class="bg-blue h-36 w-full absolute transform opacity-75 rounded-t-2xl" style="mix-blend-mode: multiply;"></div>
					<img class="w-full h-36 object-cover object-center shadow-md rounded-t-2xl" src="./img/audit-digital.png" alt="Franck Pelagatti">
					<h3 class="text-white font-bold text-2xl absolute">Audit Digital</h3>
				</div>
				<div class="h-full px-4 py-4 flex flex-col justify-center items-center">
					<p class="font-bold">Enjeu: <span class="text-blue">comprendre, faire le point.</span></p>
					<p class="mt-4 text-center text-sm">Faire le point pour bien cerner vos points forts et vos points faibles sur le web.</p>
					<p class="mt-4 text-center text-sm">Analyse de la qualité et de la performance de vos actifs digitaux (site, réseaux sociaux, etc.), comparaison avec vos concurrents.</p>
					<a class="mt-4 text-center text-orange font-bold">En savoir plus</a>
				</div>
			</div>
			<div class="h-96 w-72 rounded-2xl bg-white shadow-md flex flex-col mb-8 transform ease-in-out duration-300 hover:scale-105">
				<div class="h-36 w-full bg-blue rounded-t-2xl relative flex justify-center items-center">
					<div class="bg-blue h-36 w-full absolute transform opacity-75 rounded-t-2xl" style="mix-blend-mode: multiply;"></div>
					<img class="w-full h-36 object-cover object-center shadow-md rounded-t-2xl" src="./img/audit-digital.png" alt="Franck Pelagatti">
					<h3 class="text-white font-bold text-2xl absolute">Audit Digital</h3>
				</div>
				<div class="h-full px-4 py-4 flex flex-col justify-center items-center">
					<p class="font-bold">Enjeu: <span class="text-blue">comprendre, faire le point.</span></p>
					<p class="mt-4 text-center text-sm">Faire le point pour bien cerner vos points forts et vos points faibles sur le web.</p>
					<p class="mt-4 text-center text-sm">Analyse de la qualité et de la performance de vos actifs digitaux (site, réseaux sociaux, etc.), comparaison avec vos concurrents.</p>
					<a class="mt-4 text-center text-orange font-bold">En savoir plus</a>
				</div>
			</div>
			<div class="h-96 w-72 rounded-2xl bg-white shadow-md flex flex-col mb-8 transform ease-in-out duration-300 hover:scale-105">
				<div class="h-36 w-full bg-blue rounded-t-2xl relative flex justify-center items-center">
					<div class="bg-blue h-36 w-full absolute transform opacity-75 rounded-t-2xl" style="mix-blend-mode: multiply;"></div>
					<img class="w-full h-36 object-cover object-center shadow-md rounded-t-2xl" src="./img/audit-digital.png" alt="Franck Pelagatti">
					<h3 class="text-white font-bold text-2xl absolute">Audit Digital</h3>
				</div>
				<div class="h-full px-4 py-4 flex flex-col justify-center items-center">
					<p class="font-bold">Enjeu: <span class="text-blue">comprendre, faire le point.</span></p>
					<p class="mt-4 text-center text-sm">Faire le point pour bien cerner vos points forts et vos points faibles sur le web.</p>
					<p class="mt-4 text-center text-sm">Analyse de la qualité et de la performance de vos actifs digitaux (site, réseaux sociaux, etc.), comparaison avec vos concurrents.</p>
					<a class="mt-4 text-center text-orange font-bold">En savoir plus</a>
				</div>
			</div>
			<div class="h-96 w-72 rounded-2xl bg-white shadow-md flex flex-col mb-8 transform ease-in-out duration-300 hover:scale-105">
				<div class="h-36 w-full bg-blue rounded-t-2xl relative flex justify-center items-center">
					<div class="bg-blue h-36 w-full absolute transform opacity-75 rounded-t-2xl" style="mix-blend-mode: multiply;"></div>
					<img class="w-full h-36 object-cover object-center shadow-md rounded-t-2xl" src="./img/audit-digital.png" alt="Franck Pelagatti">
					<h3 class="text-white font-bold text-2xl absolute">Audit Digital</h3>
				</div>
				<div class="h-full px-4 py-4 flex flex-col justify-center items-center">
					<p class="font-bold">Enjeu: <span class="text-blue">comprendre, faire le point.</span></p>
					<p class="mt-4 text-center text-sm">Faire le point pour bien cerner vos points forts et vos points faibles sur le web.</p>
					<p class="mt-4 text-center text-sm">Analyse de la qualité et de la performance de vos actifs digitaux (site, réseaux sociaux, etc.), comparaison avec vos concurrents.</p>
					<a class="mt-4 text-center text-orange font-bold">En savoir plus</a>
				</div>
			</div>
			<div class="h-96 w-72 rounded-2xl bg-white shadow-md flex flex-col mb-8 transform ease-in-out duration-300 hover:scale-105">
				<div class="h-36 w-full bg-blue rounded-t-2xl relative flex justify-center items-center">
					<div class="bg-blue h-36 w-full absolute transform opacity-75 rounded-t-2xl" style="mix-blend-mode: multiply;"></div>
					<img class="w-full h-36 object-cover object-center shadow-md rounded-t-2xl" src="./img/audit-digital.png" alt="Franck Pelagatti">
					<h3 class="text-white font-bold text-2xl absolute">Audit Digital</h3>
				</div>
				<div class="h-full px-4 py-4 flex flex-col justify-center items-center">
					<p class="font-bold">Enjeu: <span class="text-blue">comprendre, faire le point.</span></p>
					<p class="mt-4 text-center text-sm">Faire le point pour bien cerner vos points forts et vos points faibles sur le web.</p>
					<p class="mt-4 text-center text-sm">Analyse de la qualité et de la performance de vos actifs digitaux (site, réseaux sociaux, etc.), comparaison avec vos concurrents.</p>
					<a class="mt-4 text-center text-orange font-bold">En savoir plus</a>
				</div>
			</div>
			<div class="h-96 w-72 rounded-2xl bg-white shadow-md flex flex-col mb-8 transform ease-in-out duration-300 hover:scale-105">
				<div class="h-36 w-full bg-blue rounded-t-2xl relative flex justify-center items-center">
					<div class="bg-blue h-36 w-full absolute transform opacity-75 rounded-t-2xl" style="mix-blend-mode: multiply;"></div>
					<img class="w-full h-36 object-cover object-center shadow-md rounded-t-2xl" src="./img/audit-digital.png" alt="Franck Pelagatti">
					<h3 class="text-white font-bold text-2xl absolute">Audit Digital</h3>
				</div>
				<div class="h-full px-4 py-4 flex flex-col justify-center items-center">
					<p class="font-bold">Enjeu: <span class="text-blue">comprendre, faire le point.</span></p>
					<p class="mt-4 text-center text-sm">Faire le point pour bien cerner vos points forts et vos points faibles sur le web.</p>
					<p class="mt-4 text-center text-sm">Analyse de la qualité et de la performance de vos actifs digitaux (site, réseaux sociaux, etc.), comparaison avec vos concurrents.</p>
					<a class="mt-4 text-center text-orange font-bold">En savoir plus</a>
				</div>
			</div>


		</div>
	</div> 

	<div class="flex justify-center py-8 px-8 lg:py-24" style="background:#d4dbfe27">
		<div class="flex flex-col justify-center items-center lg:w-2/3">
			<h3 class="font-bold text-lg lg:text-2xl text-center lg:leading-normal">
				Combien ça coûte ?
			</h3>
			<svg height="3" width="100" class="mx-auto mt-4">
				<line x1="0" y1="0" x2="100" y2="0" style="stroke:#4E6AFA;stroke-width:10" />
			</svg>
			<p class="text-center mt-8 font-bold text-lg lg:text-xl mb-8">Prodig propose plusieurs tarifs d’intervention :</p>
			<div class="flex flex-col justify-center items-center">
				<div class="rounded-2xl bg-white shadow-md mx-4 my-1 py-4 px-8 w-full lg:w-3/4 text-center">
					<p class="font-bold text-lg text-blue">Pilotage de projet</p>
					<p class="font-bold text-xl text-center">100€ HT / heure</p>
				</div>
				<div class="rounded-2xl bg-white shadow-md mx-4 my-1 py-4 px-8 w-full lg:w-3/4 text-center">
					<p class="font-bold text-lg text-blue">Prestation de conseil (stratégie, atelier, etc.)</p>
					<p class="font-bold text-xl text-center">150€ HT / heure</p>
				</div>
				<div class="rounded-2xl bg-white shadow-md mx-4 my-1 py-4 px-8 w-full lg:w-3/4 text-center">
					<p class="font-bold text-lg text-blue">Prestation de spécialiste (rédaction, développement, etc.)</p>
					<p class="font-bold text-xl text-center"> de 60€ a 80€ HT / heure</p>
				</div>
			</div>
			<p class="mt-12 text-center px-18 lg:px-36 text-md lg:text-lg">Les actions que nous déployons sont « sur-mesure ». Un devis est établi pour chaque projet ; les frais techniques sont spécifiés : hébergement, maintenance, location d’outils SAAS, achat d’arts, etc.<br><br>Les contrats récurrents bénéficient d’une approche forfaitaire.</p>

		</div>
	</div>

	<!-- CTA BOTTOM STICKY -->
	<div class="py-4 flex flex-col lg:flex-row justify-center lg:justify-between items-center lg:sticky lg:bottom-0 bg-white px-6 z-40" style="box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12)!important">
		<p class="text-center lg:text-left font-bold text-sm lg:text-lg">Besoin d’un <span class="text-blue">1er échange téléphonique</span>, sans engagement, <br>pour discuter d’un sujet digital spécifique ? </p>
		<button class="mt-2 text-white font-bold text-md lg:text-md tracking-wider uppercase bg-orange py-2 px-6 rounded-lg hover:bg-blue transition ease-in-out duration-500">
			Fixer un rdv de 20mn
		</button>
	</div>




	<!-- FOOTER -->
	<div class="container mx-auto my-24 flex flex-col px-8 lg:px-24 xl:px-48">
		<div class="flex mb-8">
			<a href="/">
				<img class="h-4" src="./img/logoprodig2.svg" alt="Logo Prodig">
			</a>
		</div>
		<div class="flex flex-col lg:flex-row lg:justify-between">
			<div class="flex flex-col mb-8 lg:mb-0">
				<p class="text-2xl font-bold">Contactons-nous</p>
				<div class="flex items-center mt-4">
					<img class="h-6 fill-current text-orange" src="./img/phone.svg" alt="Téléphone">
					<p class="text-xl ml-3 font-bold text-orange">(+33) 09 52 30 51 31</p>
				</div>
				<div class="flex items-center mt-2">
					<img class="h-6" src="./img/mail.svg" alt="E-Mail">
					<p class="text-xl ml-3 font-bold text-orange">bonjour@prodig.fr</p>
				</div>
			</div>
			<div class="flex flex-col mb-8 lg:mb-0">
				<p class="text-2xl font-bold">Connectons-nous</p>
				<div class="flex justify-start lg:justify-around items-center mt-4">
					<div class="flex flex-col">
						<div class="flex items-center justify-center">
							<img class="h-8" src="./img/linkedin.svg" alt="LinkedIn Franck Pelagatti">
							<p class="text-center font-bold text-xl ml-4">LinkedIn</p>
						</div>
						<div class="flex items-center justify-center mt-2">
							<img class="h-8" src="./img/calendly.svg" alt="LinkedIn Franck Pelagatti">
							<p class="text-center font-bold text-xl ml-4">Calendly</p>
						</div>
					</div>
				</div>
			</div>
			<div class="flex flex-col">
				<p class="text-2xl font-bold">Newsletter</p>
				<div class="flex items-center mt-4">
					<input type="mail" class="text-xl pl-3 pb-1 border-2 border-orange w-48 lg:w-full "
						placeholder="votre e-mail ici"></input>
				</div>
				<button
					class="text-white font-bold text-lg lg:text-xl tracking-wider uppercase bg-orange text-left pl-3 py-1 mt-1 w-48 lg:w-full hover:bg-blue transition duration-500 ease-in-out">Je
					m'abonne ✉️</button>
			</div>
		</div>
		<div class="flex flex-col lg:flex-row lg:justify-between mt-16">
			<div class="flex flex-col lg:flex-row">
				<a class="text-orange font-bold uppercase text-lg mr-4">Mentions legales</a>
				-
				<a class="text-orange font-bold uppercase text-lg lg:ml-4">Politiques de protection de vos données</a>
			</div>
			<p class="font-bold text-2xl mt-4 lg:mt-0">PRODIG 2021 ©</p>
		</div>
	</div>

	<script src="./../js/script.js"></script>
	<!-- <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script> -->
	<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-XXXX"></script> -->
	<!-- <script>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())
      gtag('config', 'UA-XXXX')
    </script> -->
</body>

</html>